@import '../../assets/styles/global';

.Loading {
  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $fun-green-alpha-01;
    z-index: 2;
  }

  .ant-spin {
    .ant-spin-dot-item {
      background: $fun-green;
    }
  }
}