@import '../../assets/styles/global';

.HomeBanner {
  margin: 4.8rem 0;

  .slick-list {
    border-radius: .8rem;
  }

  &-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 58rem;

    img {
      @include centerImage;
      border-radius: .8rem;
    }
  }
}