@import '../../assets/styles/global';

.DropdownCustom {
  position: relative;

  &-overlay {
    position: relative;
    background: $white;
    box-shadow: $modal-shadow;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
  }

  &-body {
    cursor: pointer;
  }
}