@import '../../assets/styles/global';

.VideoFileCard {
  padding: 1.5rem 4.5rem;
  border-radius: 1rem;
  background: $concrete;
  transition: $common-transition;
  cursor: pointer;

  &.active {
    background: $fun-green-alpha-01;
  }

  @media (max-width: 768px) {
    padding: 1.5rem 3rem;
  }

  &:hover {
    background: $fun-green-alpha-01;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &-icon {
    flex: 0 0 5.2rem;
    max-width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    margin-right: 1.2rem;
    display: flex;
    background: $chestnut-rose;

    &.video {
      border: .4rem solid $fun-green;
    }

    &.pdf {
      background: transparent;

      .Icon {
        width: 3rem;

        svg {
          width: 3rem;
        }
      }
    }

    .Icon {
      margin: auto;
      width: 1.6rem;

      svg {
        width: 1.6rem;

      }
    }
  }

  &-info {
    flex: 1;

    &-title {
      font-size: 1.6rem;
    }

    &-description {
      font-size: 1.4rem;
      color: $martini;
    }
  }
}