@import '../../assets/styles/global';

.PrivacyPolicy {
  &-image {
    border-radius: 1rem;
    margin-bottom: 2.8rem;

    img {
      width: 100%;
    }
  }

  &-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  &-main {
    p {
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
}