@import '../../assets/styles/global';

.DatePicker {
  .ant-picker {
    border-radius: 1rem;
    min-height: 4.2rem;
    padding: 1rem 1.5rem;
    box-shadow: none;
    border: 1px solid $mercury;
    width: 100%;

    &.ant-picker-large {
      min-height: 5.4rem;

      .ant-picker-input input {
        font-size: 1.6rem;
      }
    }

    .ant-picker-input input {
      font-size: 1.6rem;
      font-weight: 400;
      font-size: 1.4rem;

      &::placeholder {
        color: $oslo-gray;
      }
    }
  }
}

.ant-picker-dropdown {

  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background-color: $fun-green;
  }

  .ant-picker-today-btn {
    color: $fun-green;
  }

  .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: $fun-green;
  }
}