@import '../../assets/styles/global';

.ForgotPasswordModal {
  &-wrapper {
    .Modal-body {
      position: relative;
      padding: 4rem 3rem;
    }
  }

  &-bg {
    position: absolute;
    pointer-events: none;

    &.special {
      top: 0;
      width: 100%;
      height: 17.6rem;
      left: 0;
      object-fit: cover;
      opacity: 0.4;
      object-position: center;
    }

    &.object {
      bottom: 0;
      right: 0;
      width: 26.8rem;
    }
  }

  &-back {
    width: 4rem;
    margin: 0 0 1rem -1rem;
    cursor: pointer;
  }

  &-title {
    font-size: 2.2rem;
    font-weight: 600;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &-description {
    span {
      color: $fun-green;
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &-form {
    margin: 11rem 0 15rem;
  }

  &-resend {
    text-align: center;
    font-size: 1.6rem;
    margin-top: -1rem;

    span {
      cursor: pointer;
      color: $fun-green;
      text-decoration: underline;
    }
  }
}