@import '../../assets/styles/global';

.MyBookDetail {
  padding: 7rem 0;

  &-main {
    margin-bottom: 4rem;

    &-item {
      &:nth-child(1) {
        flex: 0 0 44rem;
        max-width: 44rem;
        height: 44rem;
        margin-right: 2rem;

        @media (max-width: 768px) {
          margin: 0 0 2rem 0;
        }
      }

      &:nth-child(2) {
        flex: 1;
      }

      @media (max-width: 768px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
  }

  &-image {
    background: url('../../assets/images/bg-book-detail.png');
    background-size: cover;
    background-position: center;
    border: 1px solid $wild-sand;
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
    padding: 8rem 1.6rem;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
      margin: auto;
      border-radius: 1rem;
    }
  }

  &-row {
    margin-bottom: 1.5rem;
  }

  &-title {
    font-size: 2.8rem;
    font-weight: 600;
  }

  &-author {
    font-size: 1.6rem;
    color: $gray;
  }

  &-price {
    del {
      font-size: 1.8rem;
      color: $gray;
      margin-right: 1.2rem;
    }

    span {
      font-weight: 600;
      font-size: 2rem;
      color: $fun-green;
    }
  }

  &-overview {
    padding: 1rem;
    border-radius: 1rem;
    background: $concrete;
    margin-bottom: 2.8rem;

    &-item {
      flex: auto;
      text-align: center;
      transition: $common-transition;
      cursor: pointer;

      &:hover {
        background: $fun-green-alpha-01;
      }

      &:not(:last-child) {
        border-right: 1px solid $mercury;
      }

      &-title {
        font-size: 1.6rem;
        color: $gray;
        margin-bottom: 0.5rem;
      }

      &-description {
        font-size: 1.8rem;
        font-weight: 600;
        color: $fun-green
      }
    }
  }

  &-tabs {
    margin-bottom: .4rem;

    &-item {
      font-size: 1.6rem;
      color: $gray;
      margin-right: 10rem;
      cursor: pointer;
      transition: $common-transition;
      position: relative;
      white-space: nowrap;

      @media (max-width: 768px) {
        margin-right: 5rem;
      }

      &:before {
        position: absolute;
        height: .2rem;
        width: 2.5rem;
        border-radius: .2rem;
        background: $fun-green;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        bottom: -.4rem;
        content: '';
        transition: $common-transition;
      }

      &:hover {
        color: $fun-green;
      }

      &.active {
        font-weight: 600;
        font-size: 2rem;
        color: $black;

        &::before {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
  }

  &-row-info {
    padding: 1.2rem 0;
    font-size: 1.6rem;
    color: $mine-shaft;

    &:not(:last-child) {
      border-bottom: 1px solid $wild-sand;
    }

    &-see-more {
      color: $fun-green;
      margin-top: .4rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-actions {
    padding: 1rem 1.5rem;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    background: $concrete;

    &-add-cart {
      min-width: 18.5rem;

      .Button {
        .ant-btn {
          min-height: 4.8rem;
        }
      }
    }
  }
}