@import '../../assets/styles/global';

.NewBlock {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: $new-shadow;
  cursor: pointer;

  &-image {
    position: relative;
    height: 16rem;

    @media (max-width: 575px) {
      height: 25rem;
    }

    img {
      @include centerImage;
    }
  }

  &-info {
    padding: 1rem 1.2rem;
    background: $white;
  }

  &-title {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    min-height: 5.2rem;
    @include ellipsis(2);
  }

  &-description {
    color: $gray;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    min-height: 5.2rem;
    @include ellipsis(2);
  }

  &-date {
    font-size: 1.4rem;
    color: $fun-green;
  }
}