/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$athens-gray: #F6F6F7;
$fun-green: #016938;
$fun-green-alpha-01: rgba($fun-green, 0.1);
$alizarin-crimson: #DA2127;
$tana: #D4E1C2;
$mako: #3B4045;
$olive-drab: #55AB29;
$fern: #4FB664;
$oslo-gray: #949698;
$gray: #808080;
$blue-zodiac: #0F2E53;
$mercury: #E6E6E6;
$crimson: #ED1C24;
$concrete: #f3f3f3;
$wild-sand: #f4f4f4;
$mine-shaft: #212121;
$heavy-metal: #2E412B;
$chestnut-rose: #CC6064;
$shuttle-gray: #57636F;
$sunglow: #FBBA32;
$ebb: #E8DBDB;
$gallery: #EBEBEB;
$ebony-clay: #2B3141;
$grenadier: #CF3605;
$silver: #C4C4C4;
$boulder: #777777;
$thunderbird: #B4171E;
$alto: #E0E0E0;
$gray-nurse: #DFE4E1;
$harp: #E8F3EE;
$gin: #EAF3EF;