$common-transition: 0.3s ease;
$book-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
$button-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.05);
$social-shadow: 0px 4px 6px rgba(70, 139, 36, 0.12);
$new-shadow: 0px 4px 20px 5px rgba(2, 30, 174, 0.05);
$modal-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);