@import '../../assets/styles/global';

.Header {
  background: $fun-green;

  &-wrapper {
    height: 4.8rem;

    @media (max-width: 575px) {
      justify-content: center !important;
    }
  }

  &-item {
    margin-left: 4rem;

    @media (max-width: 575px) {
      margin: 0 2rem;
    }

    &-icon {
      flex: 0 0 2.2rem;
      max-width: 2.2rem;
      margin-right: 1.2rem;
    }

    &-label {
      color: $white;
      font-size: 1.6rem;
    }
  }
}